__pycache__/
__pycache__/*
myenv
mail_reading/stream-po-gen/attached_files_folder/*/
mail_reading/stream-po-gen/attached_files_folder/*
.sf_config.env
config.ini
cfd_env_file
logs/*
repository_cfd
logger_output.log
*.pem
*.ppk